body {
    margin: 0 0 0 50px;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 10;
    background: rgb(33, 43, 48);
    width: 50px;
    height: 100%;
    line-height: 50px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    color: white;
    box-shadow: 0 0 5px black;
    writing-mode: vertical-rl;
}

[data-section-id] {
    border-bottom: 5px solid rgba(0, 0, 0, 0.3) !important;
}

[data-section-id]::after {
    border-bottom: none !important;
}

[data-section-id] h1, [data-section-id] h2 {
    margin-top: 0;
    margin-bottom: 0;
}

@media print, screen and (max-width: 75rem) {
    .redoc-markdown p:last-child {
        margin-bottom: 20px !important;
    }
}

.menu-content {
    padding-top: 20px;
}

span.client-error {
    display: inline-block;
    height: 17px;
    line-height: 17px;
    background-color: rgb(204, 51, 51);
    font-size: 8px;
    font-family: Verdana, sans-serif;
    color: white;
    border-radius: 3px;
    padding: 0 4px;
}